$mainColor:#1d92c9;
$blue:#409EFF;
$light-blue:#72d0eb;
$red:#f35e5e;
$pink: rgb(248, 174, 182);
$green: #00a03e;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$yellow1:#ffa200;
$panGreen: #30B08F;
$ccc:#cccccc;
$ddd:#dddddd;
$black:#222;
$g9:#999;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
